@font-face {
  font-family: 'Yota Digit';
  src: url('YotaDigit-Regular.otf');
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Yota Digit', sans-serif;
  font-weight: 400;
}



.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 1px 1px 0 #ccc;
  margin-bottom: 20px;
  background-color: white;
  z-index: 2;
}

.header-logo  {
  height: 80px;
}

.header-logo img {
  height: 100%;
}

.work-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.work-links a {
  width: 80px;
  height: 50px;
  font-size: 0;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.work-links a:hover {
  transform: scale(1.2);
}

.work-links a:active {
  transform: scale(1);
  transition: none;
}


.work-links .crm {
  background: white url('img/crm_logo.svg') no-repeat 50%;
}

.work-links .hotline {
  background: white url('img/hotline_logo.svg') no-repeat 50%;
  background-size: 50px 50px;
}

.work-links .tables {
  background: white url('img/tables_logo.svg') no-repeat 50%;
  background-size: 50px;
}

.work-links .location {
  background: white url('img/location_logo.svg') no-repeat 50%;
  background-size: 50px;
}

.work-links .iknow {
  background: white url('img/iknow_logo.svg') no-repeat 50%;
  background-size: 50px;
}

.work-links .study {
  background: white url('img/js_study.png') no-repeat 50%;
  background-size: contain;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
}

.wrapper {
  width: 540px;
  margin: 0 auto;
}

.advices {
  float: left;
  width: 250px;
  z-index: 1;
}

.advice-item {
  position: relative;
  width: 225px;
  margin-bottom: 50px;
  margin-left: 25px;
  box-shadow: 0 0 5px 0 #ccc;
  border-radius: 20px;
}

.advice-item.complete {
  background-color: #00aeef;
}

.advice-item.complete .advice-name {
  text-decoration-color: white;
}

.advice-item__header {
  width: 100%;
  font-weight: 600;
  font-size: 125%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}


.advice-item__text {
  margin: 0;
  width: inherit;
  box-sizing: border-box;
  padding: 5px 5px 5px 40px;
}

.advice-item__text li {
  box-sizing: border-box;
  padding: 5px;
  background-color: inherit;
}

.list {
  display: flex;
  justify-content: center;
  max-width: 540px;
  position: relative;
  flex-direction: column;
  color: white;
}

.list.complete {
  opacity: 0.5;
}

.checklist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 540px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: white;
  color: #00aeef;
  border-radius: 20px;
  border-color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 #ccc;
  font-size: 125%;
  transition: all 0.3s ease;
}

.checklist-item span {
  flex-wrap: wrap;
  flex-grow: 2;
  box-sizing: border-box;
  display: block;
  word-wrap: break-word;
  max-width: 90%;
  min-width: 50%;
}
.checklist-item label {
  display: flex;
  flex-grow: 2;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-right: 10px;
}

.checklist-item button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: url('img/delete_cross.svg') no-repeat 50% 50%;
}

.checklist-item .checkbox {
  position: relative;
  visibility: hidden;
  width: 40px;
  height: 40px;

 }

.checklist-item .checkbox::after {
  box-sizing: content-box;
  display: block;
  position: absolute;
  visibility: visible;
  content: '';
  font-size: 0;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 2px 2px #ccc;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.checklist-item input:checked::after {
  box-sizing: border-box;
  background-color: #00aeef;
  box-shadow: 0 0 2px 2px #ccc;
  border: 2px solid white;
}

.checklist-item.checked {
  background-color: #00aeef;
  color: white;
}

.delete-button {
  transition: all 0.3s ease;
}

.delete-button:hover {
  transform: scale(1.1);
}

.advice-item__checkbox {
  display: none;
}

.advice-name.checked {
  text-decoration: line-through;
  text-decoration-color: #00aeef;
}

.message {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  height: 100px;
  top: 50%;
  left: 25%;
  display: none;
  background-color: #00aeef;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ccc;
  transition: all 2s ease;
}

.message p {
  color: #FFF;
  font-size: 250%;
  text-align: center;
  align-self: center;
}

.message.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.input-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  margin-bottom: 50px;
}
.input-text input {
  font-family: 'Yota Digit', monospace;
  font-weight: 600;
  width: 350px;
  height: 30px;
  padding: 0 20px;
  color: #00aeef;
  box-shadow: 0 0 5px 1px #ccc;
  border: 1px solid #00aeef;
  border-radius: 10px;
}

.input-text input:hover {
  box-shadow: 0 0 5px 0 #00aeef;
}

.input-text input:focus {
  outline: none;
  background-color: #ddd;
  border: 1px solid #00aeef;
}

.input-text .submit-button {
  font-family: 'Yota Digit', monospace;
  font-weight: 900;
  font-size: 14px;
  width: 120px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  color: white;
  background-color: #00aeef;
  border: none;
  box-shadow: 0 0 5px 1px #ccc;
  padding: 10px;
  border-radius: 20px;
}

.input-text .submit-button:hover {
  transform: scale(1.1);
}

.input-text .submit-button:active {
  transition: none;
  transform: scale(1);
}

.footer {
  width: 100%;
  height: 84px;
  color: black;
  background-color: white
}
