body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:  sans-serif;
  background-color: #eee;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0px 1px 1px 0px #ccc;
  margin-bottom: 20px;
  background-color: white;
}

.header-logo img {
  height: 80px;
}

.work-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.work-links a {
  width: 80px;
  height: 50px;
  font-size: 0;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.work-links a:hover {
  transform: scale(1.2);
}

.work-links a:active {
  transform: scale(1);
  transition: none;
}


.work-links .crm {
  background: white url('crm_logo.svg') no-repeat 50%;
}

.work-links .hotline {
  background: white url('hotline_logo.svg') no-repeat 50%;
  background-size: 50px 50px;
}

.work-links .tables {
  background: white url('tables_logo.svg') no-repeat 50%;
  background-size: 50px;
}

.work-links .location {
  background: white url('location_logo.svg') no-repeat 50%;
  background-size: 50px;
}

.list {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
}

.list.complete {
  opacity: 0.5;
}

.checklist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  background-color: #00aeef;
  border-radius: 25px;
  border-color: white;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 0px #ccc;
  font-size: 125%;
  transition: all 0.6s ease;
}

.checklist-item span {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: inline-block;
  word-wrap: break-word;
  max-width: 850px;
}

.checklist-item label {
  display: flex;
  width: 990px;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  margin-right: 10px;
}

.checklist-item button {
  margin: 10px;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background: url('delete_cross.svg') no-repeat 50% 50%;
}

.checklist-item input {
  position: relative;
  visibility: hidden;

 }

.checklist-item input::after {
  box-sizing: content-box;
  display: block;
  position: absolute;
  visibility: visible;
  content: '1';
  font-size: 0;
  top: -15px;
  left: 0px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 2px 2px #ccc;
  background-color: white;
  border-radius: 50%;
  transition: all 0.6s ease;
}

.checklist-item input:checked::after {
  box-sizing: border-box;
  background-color: #00aeef;
  box-shadow: 0px 0px 2px 2px #ccc;
  border: 2px solid white;
}

.checklist-item.checked {
  background-color: #99ff99;
  color: #00aeef;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  height: 100px;
  top: 50%;
  left: 25%;
  display: none;
  background-color: #00aeef;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #ccc;
  transition: all 2s ease;
}

.message p {
  color: #FFF;
  font-size: 250%;
  text-align: center;
  align-self: center;
}

.message.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.input-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.input-text input {
  width: 50%;
  height: 50px;
  padding: 0px 20px;
  margin-right: 50px;
  color: #00aeef;
  border: 1px solid;
  border-color: #00aeef;
  border-radius: 10px;
}

.input-text input:hover {
  box-shadow: 0px 0px 5px 0px #00aeef;
}

.input-text input:focus {
  border: 1px solid;
  outline: none;
  background-color: #ddd;
  border-color: #00aeef;
}

.input-text .submit-button {
  transition: all 0.2s ease;
  color: white;
  background-color: #00aeef;
  border: none;
  box-shadow: 0px 0px 5px 1px #ccc;
  padding: 10px;
  border-radius: 20px;
}

.input-text .submit-button:hover {
  transform: scale(1.2);
}

.input-text .submit-button:active {
  transition: none;
  transform: scale(1);
}

.footer {
  width: 100%;
  height: 84px;
  color: black;
  background-color: white
}
